@using WebApplication2.Models
@model WebApplication2.Models.ByFunctionPageViewModel



<div class="text-center">
    <h1 class="display-4">I'm a Graph Drawer</h1>
    <form method="post" asp-controller="Graph">
        <p>
            <label>Hello! Please enter your function</label><br />
            <br />
            @for (var i = 0; i < @Model.Functions.Length; i++)
            {

                <input type="text" name="functionDescriptions[@i].Function" placeholder="Function" value="@Model.Functions[i].Function" />
                <input type="color" name="functionDescriptions[@i].Color" value="@Model.Functions[i].Color" /><br />
                <input type="number" name="functionDescriptions[@i].LeftBorder" placeholder="Left Border" value="@Model.Functions[i].LeftBorder" />
                <input type="number" name="functionDescriptions[@i].RightBorder" placeholder="Right Border" value="@Model.Functions[i].RightBorder" /><br />
                <div>
                    <label asp-for="LineType">Line Type</label>
                    <select name = "functionDescriptions[@i].LineType" asp-for="LineType" asp-items="Html.GetEnumSelectList<LinesType>()"></select>
                </div>
                <br />
            }
        </p>
        <p>
            <input type="submit" name="draw" value="Draw" formaction=@Url.Action("ProcessDraw", "Graph")/>
            <input type="submit" name="addFunctions" value="Add Function" formaction=@Url.Action("ProcessAdd", "Graph")/>
        </p>
    </form>
</div>
